@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
footer{
    font-size: small;
    background: #DDDDFF;
}
nav{
    height: 10%;
}
th{
    font-size:small;
}
td{
    font-size: x-small;
}
.backgra{
    background: #D5D5D5;
}