@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.colors{
    background: #757F9A;   /*fallback for old browsers*/
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
    /* background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%); */
    /*background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);*/
    /*background-image: linear-gradient( 135deg, #FFE985 10%, #FA742B 100%);*/
    
}
.colors2{
    background-color: #FFC000;
}
h1{
    color: #000041;
}
span{
    color: #FFC000;
}
hgroup p{
    font-weight: 700;
    font-size: small; 
}

@media (min-width:300px) and (max-width:999px)
{
    i{
        display: none;
    }
}
.ui-datepicker-calendar {
    display: none;
 }